<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.fitatu.phonegap.plugin.googlefit"
        version="0.0.7">

    <name>Google Fit phonegap plugin</name>
    <description>Google Fit phonegap plugin</description>
    <js-module src="www/GoogleFit.js" name="GoogleFit">
        <clobbers target="window.plugins.fitatuGoogleFit" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=5.0.0"/>
    </engines>

    <platform name="android">
        <framework src="com.google.android.gms:play-services-fitness:16.+" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GoogleFit">
                <param name="android-package" value="com.fitatu.phonegap.plugin.GoogleFit.GoogleFitCordovaPlugin" />
            </feature>
            <access origin="https://accounts.google.com/*" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>

        <source-file src="src/android/GoogleFitCordovaPlugin.java" target-dir="src/com/fitatu/phonegap/plugin/GoogleFit/"/>
        <source-file src="src/android/FitnessActivity.java" target-dir="src/com/fitatu/phonegap/plugin/GoogleFit/"/>
        <source-file src="src/android/GoogleFitService.java" target-dir="src/com/fitatu/phonegap/plugin/GoogleFit/"/>
        <source-file src="src/android/Command/IsConnectedCommand.java" target-dir="src/com/fitatu/phonegap/plugin/GoogleFit/Command/"/>
        <source-file src="src/android/Command/GetGoogleFitPermissionCommand.java" target-dir="src/com/fitatu/phonegap/plugin/GoogleFit/Command/"/>
        <source-file src="src/android/Command/HasGoogleFitPermissionCommand.java" target-dir="src/com/fitatu/phonegap/plugin/GoogleFit/Command/"/>
        <source-file src="src/android/Command/GetActivitiesCommand.java" target-dir="src/com/fitatu/phonegap/plugin/GoogleFit/Command/"/>
        <source-file src="src/android/Command/SetUserSettingsCommand.java" target-dir="src/com/fitatu/phonegap/plugin/GoogleFit/Command/"/>
    </platform>
</plugin>
